/*Home Page*/
body {
    height: 90vh;
    margin: 0;
    background-color: #a5a08d;
}
#home-background {
    height: 80%;
    border-style: solid;
    border-color: #62594e;
    border-radius: 10%;
    border-width: 30px;
    margin: 1%;
    margin-bottom: -2%;
    text-align: center;
    background-color: #e5dfd1;
    color: #91705d;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #91705d;
}
a:visited {
    color: #738074;
}
a:hover {
    color: #9bb39d;
}
#gameList {
    background-color: white;
    margin: auto;
    width: 70%;
    height: 70%;
    text-align: justify;
    padding-left: 5%;
    /*Make the list scrollable*/
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

/*Tic tac toe Page*/
.blue-background {
    background-color: #5B7C99;
}
h1, h2, h3, h4, h5, h6, span {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
}
h3, span {
    font-size: 20px;
}
#board-container {
    display: flex;
    justify-content: center;
}
#board {
    display: grid;
    gap: 10px 10px;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 180px 180px 180px;
    align-items: center;
    justify-items: center;
}
.square {
    width: 180px;
    height: 150px;
    border-style: solid;
    border-width: 5px;
}
.square:hover {
    cursor: pointer;
    /*border-color: #8D9B6A;*/
    border-color: #FF4742;
}

#setUp {
    text-align: center;
    font-weight: bold;
    color: white;
}

.button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: #f5eceb;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}

.button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.button:disabled:hover {
    background-color: gray;
    color: white;
}

#homeButton {
    margin: 1%;
}

#welcomeMessage {
    margin-top: 0;
}

#cancelButtonContainer {
    text-align: center;
    margin-top: 1%;
}

footer {
    background-color: black;
}

/* Hangman */
.red-background {
    background-color: #FF4742;
}
#sectionContainer {
    display: flex;
    height: 80vh;
}
#manSection {
    width: 50%;
    border-right: 3px solid #397cc4;
}
#letterSection {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.button-blue {
    background: #397cc4;
    border: 1px solid black;
}

.button-blue:hover,
.button-blue:active {
background-color: #f5eceb;
background-position: 0 0;
color: #397cc4;
}

.button-blue:active {
opacity: .5;
}

#guessContainer {
    height: 50%;
}
#lettersContainer {
    display: grid;
    gap: 10px 10px;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 50%;
}

.lettersItem {
    width: 50px;
    height: 40px;
}

#startGameButtonHangman {
    margin-bottom: 1%;
}


#letterGuessesDisplay {
    display: grid;
    gap: 10px 10px;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    text-align: center;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.letterItems {
    border-bottom-style: solid;
    width: 20px;
    height: 30px;
    font-size: 25px;
}

#manSection {
    display: flex;
}

#hangmanImage {
    width: 400px;
    height: auto;
    margin: auto;
}


/* Simon Says */
.purple-background {
    background-color: #8955a3;
}

#buttonContainer {
    display: grid;
    gap: 10px 10px;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px;
    align-items: center;
    justify-items: center;
}

.simonButtonItems {
    width: 100%;
    height: 100%;
}
.simonButtonItems:hover {
    border: white;
    cursor: pointer;
}
#simonbutton1 {
    background-color: #1a8a2d;
}

#simonbutton2 {
    background-color: #FF4742;
}

#simonbutton3 {
    background-color: #c26a23;
}

#simonbutton4 {
    background-color: #397cc4;
}

.button-green {
    background-color: #1b853a;
    border: 1px solid black;
}


.button-green:hover,
.button-green:active {
background-color: #f5eceb;
background-position: 0 0;
color: #1b853a;
}

.button-blue:active {
opacity: .5;
}

#simonGameContainer {
    display: flex;
    justify-content: center;
}

#countLabel {
    text-align: center;
    color: white;
}

.glow {
    box-shadow: 0px 0px 40px 20px #0ff;
}